[submodule "themes/hugo-initio"]
	path = themes/hugo-initio
	url = https://github.com/miguelsimoni/hugo-initio.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
