$navbar-dark-color: #333; // Set navbar text to white to increase contrast
$blue: #496bb8 !default; // Override breadcrumb and sidebar text color to increase contrast
$primary: white !default;

$dark: black;

$success: #1f224b !default;

$google_font_name: "Open Sans";
$google_font_family: "Open Sans:300,300i,400,400i,700,700i";