<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
  	<meta name="author"      content="{{ .Site.Author }}">
    
    {{ partial "home/head/head.html" . }}
  </head>
  
  <body class="home">

    {{ block "header" . }}
      {{ partial "home/head/header.html" . }}
    {{ end }}
    <div class="container-fluid td-outer">

    {{ block "main" . }}
    {{ end }}
    
    {{ partial "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}

  </body>
  
</html>